In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
df=pd.read_excel('/Users/yiliatao/Desktop/NZSE/GDDA612 data transformation and management/612 assessment2/Adidas US Sales Datasets.xlsx')
df.head()

,Unnamed: 0,Retailer,Retailer ID,Invoice Date,Region,State,City,Product,Price per Unit,Units Sold,Total Sales,Operating Profit,Operating Margin,Sales Method
0,NaN,Foot Locker,1185732,2020-01-01,Northeast,New York,New York,Men's Street Footwear,50.0,1200,600000.0,300000.0,0.50,In-store
1,NaN,Foot Locker,1185732,2020-01-02,Northeast,New York,New York,Men's Athletic Footwear,50.0,1000,500000.0,150000.0,0.30,In-store
2,NaN,Foot Locker,1185732,2020-01-03,Northeast,New York,New York,Women's Street Footwear,40.0,1000,400000.0,140000.0,0.35,In-store
3,NaN,Foot Locker,1185732,2020-01-04,Northeast,New York,New York,Women's Athletic Footwear,45.0,850,382500.0,133875.0,0.35,In-store
4,NaN,Foot Locker,1185732,2020-01-05,Northeast,New York,New York,Men's Apparel,60.0,900,540000.0,162000.0,0.30,In-store

In [5]:
df.shape

(9648, 14)

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9648 entries, 0 to 9647
Data columns (total 14 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Unnamed: 0        0 non-null      float64
 1   Retailer          9648 non-null   object
 2   Retailer ID       9648 non-null   int64
 3   Invoice Date      9648 non-null   datetime64[ns]
 4   Region            9648 non-null   object
 5   State             9648 non-null   object
 6   City              9648 non-null   object
 7   Product           9648 non-null   object
 8   Price per Unit    9648 non-null   float64
 9   Units Sold        9648 non-null   int64
 10  Total Sales       9648 non-null   float64
 11  Operating Profit  9648 non-null   float64
 12  Operating Margin  9648 non-null   float64
 13  Sales Method      9648 non-null   object
dtypes: datetime64[ns](1), float64(5), int64(2), object(6)
memory usage: 1.0+ MB

In [9]:
df.describe()

,Unnamed: 0,Retailer ID,Invoice Date,Price per Unit,Units Sold,Total Sales,Operating Profit,Operating Margin
count,0.0,9.648000e+03,9648,9648.000000,9648.000000,9648.000000,9648.000000,9648.000000
mean,NaN,1.173850e+06,2021-05-10 15:20:44.776119296,45.216625,256.930037,93273.437500,34425.244761,0.422991
min,NaN,1.128299e+06,2020-01-01 00:00:00,7.000000,0.000000,0.000000,0.000000,0.100000
25%,NaN,1.185732e+06,2021-02-17 00:00:00,35.000000,106.000000,4254.500000,1921.752500,0.350000
50%,NaN,1.185732e+06,2021-06-04 00:00:00,45.000000,176.000000,9576.000000,4371.420000,0.410000
75%,NaN,1.185732e+06,2021-09-16 00:00:00,55.000000,350.000000,150000.000000,52062.500000,0.490000
max,NaN,1.197831e+06,2021-12-31 00:00:00,110.000000,1275.000000,825000.000000,390000.000000,0.800000
std,NaN,2.636038e+04,NaN,14.705397,214.252030,141916.016727,54193.113713,0.097197

In [11]:
df.columns

Index(['Unnamed: 0', 'Retailer', 'Retailer ID', 'Invoice Date', 'Region',
       'State', 'City', 'Product', 'Price per Unit', 'Units Sold',
       'Total Sales', 'Operating Profit', 'Operating Margin', 'Sales Method'],
      dtype='object')

In [13]:
df.duplicated().sum()

0

In [15]:
df.isnull().sum()

Unnamed: 0          9648
Retailer               0
Retailer ID            0
Invoice Date           0
Region                 0
State                  0
City                   0
Product                0
Price per Unit         0
Units Sold             0
Total Sales            0
Operating Profit       0
Operating Margin       0
Sales Method           0
dtype: int64

In [17]:
df.drop(columns=['Unnamed: 0'], inplace=True)

In [19]:
df.tail()

,Retailer,Retailer ID,Invoice Date,Region,State,City,Product,Price per Unit,Units Sold,Total Sales,Operating Profit,Operating Margin,Sales Method
9643,Foot Locker,1185732,2021-01-24,Northeast,New Hampshire,Manchester,Men's Apparel,50.0,64,3200.0,896.00,0.28,Outlet
9644,Foot Locker,1185732,2021-01-24,Northeast,New Hampshire,Manchester,Women's Apparel,41.0,105,4305.0,1377.60,0.32,Outlet
9645,Foot Locker,1185732,2021-02-22,Northeast,New Hampshire,Manchester,Men's Street Footwear,41.0,184,7544.0,2791.28,0.37,Outlet
9646,Foot Locker,1185732,2021-02-22,Northeast,New Hampshire,Manchester,Men's Athletic Footwear,42.0,70,2940.0,1234.80,0.42,Outlet
9647,Foot Locker,1185732,2021-02-22,Northeast,New Hampshire,Manchester,Women's Street Footwear,29.0,83,2407.0,649.89,0.27,Outlet

In [21]:
# Create 'Month' and 'Year' columns
df['Month'] = df['Invoice Date'].dt.month
df['Year'] = df['Invoice Date'].dt.year
# Display the updated DataFrame
print(df)

         Retailer  Retailer ID Invoice Date     Region          State  \
0     Foot Locker      1185732   2020-01-01  Northeast       New York
1     Foot Locker      1185732   2020-01-02  Northeast       New York
2     Foot Locker      1185732   2020-01-03  Northeast       New York
3     Foot Locker      1185732   2020-01-04  Northeast       New York
4     Foot Locker      1185732   2020-01-05  Northeast       New York
...           ...          ...          ...        ...            ...
9643  Foot Locker      1185732   2021-01-24  Northeast  New Hampshire
9644  Foot Locker      1185732   2021-01-24  Northeast  New Hampshire
9645  Foot Locker      1185732   2021-02-22  Northeast  New Hampshire
9646  Foot Locker      1185732   2021-02-22  Northeast  New Hampshire
9647  Foot Locker      1185732   2021-02-22  Northeast  New Hampshire

            City                    Product  Price per Unit  Units Sold  \
0       New York      Men's Street Footwear            50.0        1200
1       New York    Men's Athletic Footwear            50.0        1000
2       New York    Women's Street Footwear            40.0        1000
3       New York  Women's Athletic Footwear            45.0         850
4       New York              Men's Apparel            60.0         900
...          ...                        ...             ...         ...
9643  Manchester              Men's Apparel            50.0          64
9644  Manchester            Women's Apparel            41.0         105
9645  Manchester      Men's Street Footwear            41.0         184
9646  Manchester    Men's Athletic Footwear            42.0          70
9647  Manchester    Women's Street Footwear            29.0          83

      Total Sales  Operating Profit  Operating Margin Sales Method  Month  \
0        600000.0         300000.00              0.50     In-store      1
1        500000.0         150000.00              0.30     In-store      1
2        400000.0         140000.00              0.35     In-store      1
3        382500.0         133875.00              0.35     In-store      1
4        540000.0         162000.00              0.30     In-store      1
...           ...               ...               ...          ...    ...
9643       3200.0            896.00              0.28       Outlet      1
9644       4305.0           1377.60              0.32       Outlet      1
9645       7544.0           2791.28              0.37       Outlet      2
9646       2940.0           1234.80              0.42       Outlet      2
9647       2407.0            649.89              0.27       Outlet      2

      Year
0     2020
1     2020
2     2020
3     2020
4     2020
...    ...
9643  2021
9644  2021
9645  2021
9646  2021
9647  2021

[9648 rows x 15 columns]

In [23]:
# Perform one-hot encoding for categorical variables
df_encoded = pd.get_dummies(df, columns=['Retailer','Region','State', 'City', 'Product', 'Sales Method'])
# Display the encoded DataFrame
print(df_encoded.head())

   Retailer ID Invoice Date  Price per Unit  Units Sold  Total Sales  \
0      1185732   2020-01-01            50.0        1200     600000.0
1      1185732   2020-01-02            50.0        1000     500000.0
2      1185732   2020-01-03            40.0        1000     400000.0
3      1185732   2020-01-04            45.0         850     382500.0
4      1185732   2020-01-05            60.0         900     540000.0

   Operating Profit  Operating Margin  Month  Year  Retailer_Amazon  ...  \
0          300000.0              0.50      1  2020            False  ...
1          150000.0              0.30      1  2020            False  ...
2          140000.0              0.35      1  2020            False  ...
3          133875.0              0.35      1  2020            False  ...
4          162000.0              0.30      1  2020            False  ...

   City_Wilmington  Product_Men's Apparel  Product_Men's Athletic Footwear  \
0            False                  False                            False
1            False                  False                             True
2            False                  False                            False
3            False                  False                            False
4            False                   True                            False

   Product_Men's Street Footwear  Product_Women's Apparel  \
0                           True                    False
1                          False                    False
2                          False                    False
3                          False                    False
4                          False                    False

   Product_Women's Athletic Footwear  Product_Women's Street Footwear  \
0                              False                            False
1                              False                            False
2                              False                             True
3                               True                            False
4                              False                            False

   Sales Method_In-store  Sales Method_Online  Sales Method_Outlet
0                   True                False                False
1                   True                False                False
2                   True                False                False
3                   True                False                False
4                   True                False                False

[5 rows x 131 columns]

In [25]:
# Convert only the encoded columns to integer (0 or 1)
df_encoded[df_encoded.columns] = df_encoded[df_encoded.columns].astype(int)

In [27]:
print(df_encoded.dtypes)

Retailer ID                          int64
Invoice Date                         int64
Price per Unit                       int64
Units Sold                           int64
Total Sales                          int64
                                     ...
Product_Women's Athletic Footwear    int64
Product_Women's Street Footwear      int64
Sales Method_In-store                int64
Sales Method_Online                  int64
Sales Method_Outlet                  int64
Length: 131, dtype: object

In [29]:
# Function to find outliers using Z-score for a specific column
def find_outliers_zscore(df, column, threshold=3):
    mean = np.mean(df[column])
    std = np.std(df[column])
    z_scores = (df[column] - mean) / std
    outliers = np.abs(z_scores) > threshold
    return outliers

# Find outliers in 'Units Sold' column using Z-score
outliers = find_outliers_zscore(df, 'Units Sold')

# Print DataFrame with outliers marked
print("DataFrame with outliers in 'Units Sold' column:")
print(df[outliers])

DataFrame with outliers in 'Units Sold' column:
           Retailer  Retailer ID Invoice Date     Region           State  \
0       Foot Locker      1185732   2020-01-01  Northeast        New York
1       Foot Locker      1185732   2020-01-02  Northeast        New York
2       Foot Locker      1185732   2020-01-03  Northeast        New York
4       Foot Locker      1185732   2020-01-05  Northeast        New York
5       Foot Locker      1185732   2020-01-06  Northeast        New York
...             ...          ...          ...        ...             ...
2403  Sports Direct      1185732   2021-07-02  Southeast  North Carolina
2409  Sports Direct      1185732   2021-08-03  Southeast  North Carolina
2415  Sports Direct      1185732   2021-09-02  Southeast  North Carolina
2433  Sports Direct      1185732   2021-12-02  Southeast  North Carolina
2475         Amazon      1185732   2021-07-09    Midwest            Ohio

           City                  Product  Price per Unit  Units Sold  \
0      New York    Men's Street Footwear            50.0        1200
1      New York  Men's Athletic Footwear            50.0        1000
2      New York  Women's Street Footwear            40.0        1000
4      New York            Men's Apparel            60.0         900
5      New York          Women's Apparel            50.0        1000
...         ...                      ...             ...         ...
2403  Charlotte    Men's Street Footwear            65.0        1050
2409  Charlotte    Men's Street Footwear            65.0        1025
2415  Charlotte    Men's Street Footwear            55.0         925
2433  Charlotte    Men's Street Footwear            70.0         975
2475   Columbus    Men's Street Footwear            65.0         900

      Total Sales  Operating Profit  Operating Margin Sales Method  Month  \
0        600000.0          300000.0              0.50     In-store      1
1        500000.0          150000.0              0.30     In-store      1
2        400000.0          140000.0              0.35     In-store      1
4        540000.0          162000.0              0.30     In-store      1
5        500000.0          125000.0              0.25     In-store      1
...           ...               ...               ...          ...    ...
2403     682500.0          273000.0              0.40       Online      7
2409     666250.0          266500.0              0.40       Online      8
2415     508750.0          203500.0              0.40       Online      9
2433     682500.0          273000.0              0.40       Online     12
2475     585000.0          234000.0              0.40       Online      7

      Year
0     2020
1     2020
2     2020
4     2020
5     2020
...    ...
2403  2021
2409  2021
2415  2021
2433  2021
2475  2021

[154 rows x 15 columns]

In [31]:
# Sort DataFrame by 'Price per Unit' in ascending order
df_sorted = df.sort_values(by='Price per Unit', ascending=True)
# Print sorted DataFrame
print("Sorted DataFrame by 'Price per Unit':")
print(df_sorted)

Sorted DataFrame by 'Price per Unit':
           Retailer  Retailer ID Invoice Date     Region      State  \
9221      West Gear      1197831   2021-03-19      South   Oklahoma
8610      West Gear      1185732   2021-09-12       West       Utah
8372  Sports Direct      1197831   2021-08-25      South    Alabama
8609      West Gear      1185732   2021-09-12       West       Utah
9149        Walmart      1197831   2021-03-19      South   Arkansas
...             ...          ...          ...        ...        ...
1616    Foot Locker      1128299   2021-07-23  Southeast   Virginia
1970      West Gear      1128299   2021-06-17      South  Louisiana
1976      West Gear      1128299   2021-07-16      South  Louisiana
1400        Walmart      1128299   2021-07-16  Southeast    Florida
1394        Walmart      1128299   2021-06-17  Southeast    Florida

                City                    Product  Price per Unit  Units Sold  \
9221   Oklahoma City    Women's Street Footwear             7.0          83
8610  Salt Lake City  Women's Athletic Footwear             7.0         111
8372      Birmingham      Men's Street Footwear             7.0         224
8609  Salt Lake City    Women's Street Footwear             7.0         105
9149     Little Rock    Women's Street Footwear             8.0         112
...              ...                        ...             ...         ...
1616        Richmond            Women's Apparel           105.0         600
1970     New Orleans            Women's Apparel           110.0         750
1976     New Orleans            Women's Apparel           110.0         650
1400         Orlando            Women's Apparel           110.0         650
1394         Orlando            Women's Apparel           110.0         750

      Total Sales  Operating Profit  Operating Margin Sales Method  Month  \
9221        581.0            261.45              0.45       Outlet      3
8610        777.0            357.42              0.46       Outlet      9
8372       1568.0            736.96              0.47       Outlet      8
8609        735.0            308.70              0.42       Outlet      9
9149        896.0            403.20              0.45       Outlet      3
...           ...               ...               ...          ...    ...
1616     630000.0         189000.00              0.30     In-store      7
1970     825000.0         288750.00              0.35       Online      6
1976     715000.0         250250.00              0.35       Online      7
1400     715000.0         321750.00              0.45     In-store      7
1394     825000.0         371250.00              0.45     In-store      6

      Year
9221  2021
8610  2021
8372  2021
8609  2021
9149  2021
...    ...
1616  2021
1970  2021
1976  2021
1400  2021
1394  2021

[9648 rows x 15 columns]

In [168]:
import mysql.connector
from mysql.connector import Error

In [108]:
# Define a function to connect the database 
def create_server_connection(host_name, user_name, user_password):
    connection = None
    try:
        connection = mysql.connector.connect(host = host_name,
                                            user = user_name,
                                            passwd = user_password)
        print("Mysql Database connection successful")
    except Error as err:
        print(f"Eroor:'{err}'")
    return connection

# set the password which is your mysql password
pw = "900122tlT"

connection = create_server_connection("localhost","root",pw)

Mysql Database connection successful

In [110]:
# execute the "sql" in python 
def create_database(connection,query):
    cursor = connection.cursor()
    try:
        cursor.execute(query)
    except Exception as e:
        print("An error occurred:", e)

create_database_query = "create database 612_assessment2"
create_database(connection,create_database_query)

An error occurred: 1007 (HY000): Can't create database '612_assessment2'; database exists

In [112]:
db='612_assessment2'

In [114]:
# Connect to the database 
def create_db_connection(host_name,user_name,user_password,db):
    connection = None
    try:
        connection = mysql.connector.connect(
            host = host_name,
            user = user_name,
            passwd = user_password,
            database = db)
    except Error as err:
        print(f"Error: '{err}'")
    return connection

In [140]:
# Create a connection to the database
connection = create_db_connection("localhost","root",pw,db)

In [142]:
# Execue sql queries code in python 
def execute_query(connection,query):
    cursor = connection.cursor()
    try:
        cursor.execute(query)
        connection.commit() #save commit what changed 
    except Error as err:
        print(f"Error:'{err}'")

In [163]:
connection.close()

In [170]:
from sqlalchemy import create_engine

In [175]:
engine = create_engine('mysql+mysqlconnector://root:900122tlT@localhost/612_assessment2')
df.to_sql(name='Adidas', con=engine, if_exists='append', index=False)

9648

In [181]:
from sqlalchemy import create_engine, text

In [183]:
# retrieve and display
with engine.connect() as connection:
    result = connection.execute(text("SELECT * FROM Adidas LIMIT 10"))
    for row in result:
        print(row)

('Foot Locker', 1185732, datetime.datetime(2020, 1, 1, 0, 0), 'Northeast', 'New York', 'New York', "Men's Street Footwear", 50.0, 1200, 600000.0, 300000.0, 0.5, 'In-store', 1, 2020)
('Foot Locker', 1185732, datetime.datetime(2020, 1, 2, 0, 0), 'Northeast', 'New York', 'New York', "Men's Athletic Footwear", 50.0, 1000, 500000.0, 150000.0, 0.3, 'In-store', 1, 2020)
('Foot Locker', 1185732, datetime.datetime(2020, 1, 3, 0, 0), 'Northeast', 'New York', 'New York', "Women's Street Footwear", 40.0, 1000, 400000.0, 140000.0, 0.35, 'In-store', 1, 2020)
('Foot Locker', 1185732, datetime.datetime(2020, 1, 4, 0, 0), 'Northeast', 'New York', 'New York', "Women's Athletic Footwear", 45.0, 850, 382500.0, 133875.0, 0.35, 'In-store', 1, 2020)
('Foot Locker', 1185732, datetime.datetime(2020, 1, 5, 0, 0), 'Northeast', 'New York', 'New York', "Men's Apparel", 60.0, 900, 540000.0, 162000.0, 0.3, 'In-store', 1, 2020)
('Foot Locker', 1185732, datetime.datetime(2020, 1, 6, 0, 0), 'Northeast', 'New York', 'New York', "Women's Apparel", 50.0, 1000, 500000.0, 125000.0, 0.25, 'In-store', 1, 2020)
('Foot Locker', 1185732, datetime.datetime(2020, 1, 7, 0, 0), 'Northeast', 'New York', 'New York', "Men's Street Footwear", 50.0, 1250, 625000.0, 312500.0, 0.5, 'In-store', 1, 2020)
('Foot Locker', 1185732, datetime.datetime(2020, 1, 8, 0, 0), 'Northeast', 'New York', 'New York', "Men's Athletic Footwear", 50.0, 900, 450000.0, 135000.0, 0.3, 'Outlet', 1, 2020)
('Foot Locker', 1185732, datetime.datetime(2020, 1, 21, 0, 0), 'Northeast', 'New York', 'New York', "Women's Street Footwear", 40.0, 950, 380000.0, 133000.0, 0.35, 'Outlet', 1, 2020)
('Foot Locker', 1185732, datetime.datetime(2020, 1, 22, 0, 0), 'Northeast', 'New York', 'New York', "Women's Athletic Footwear", 45.0, 825, 371250.0, 129937.49999999999, 0.35, 'Outlet', 1, 2020)

In [187]:
# sort the records 
with engine.connect() as connection:
    result = connection.execute(text("SELECT * FROM Adidas ORDER BY `Price per Unit` DESC LIMIT 10"))
    sorted_df = pd.DataFrame(result.fetchall(), columns=result.keys())
    print(sorted_df)

      Retailer  Retailer ID Invoice Date     Region      State         City  \
0    West Gear      1128299   2021-06-17      South  Louisiana  New Orleans
1    West Gear      1128299   2021-07-16      South  Louisiana  New Orleans
2      Walmart      1128299   2021-06-17  Southeast    Florida      Orlando
3      Walmart      1128299   2021-07-16  Southeast    Florida      Orlando
4  Foot Locker      1128299   2021-06-24  Southeast   Virginia     Richmond
5  Foot Locker      1128299   2021-07-23  Southeast   Virginia     Richmond
6    West Gear      1128299   2021-07-23       West     Oregon     Portland
7    West Gear      1128299   2021-06-24       West     Oregon     Portland
8      Walmart      1128299   2021-06-17  Southeast    Florida      Orlando
9    West Gear      1128299   2021-07-16      South  Louisiana  New Orleans

           Product  Price per Unit  Units Sold  Total Sales  Operating Profit  \
0  Women's Apparel           110.0         750     825000.0         288750.00
1  Women's Apparel           110.0         650     715000.0         250250.00
2  Women's Apparel           110.0         750     825000.0         371250.00
3  Women's Apparel           110.0         650     715000.0         321750.00
4  Women's Apparel           105.0         700     735000.0         220500.00
5  Women's Apparel           105.0         600     630000.0         189000.00
6  Women's Apparel           105.0         600     630000.0         189000.00
7  Women's Apparel           105.0         700     735000.0         220500.00
8  Women's Apparel           103.0         218      22454.0          12574.24
9  Women's Apparel           103.0         163      16789.0           8058.72

   Operating Margin Sales Method  Month  Year
0              0.35       Online      6  2021
1              0.35       Online      7  2021
2              0.45     In-store      6  2021
3              0.45     In-store      7  2021
4              0.30     In-store      6  2021
5              0.30     In-store      7  2021
6              0.30     In-store      7  2021
7              0.30     In-store      6  2021
8              0.56       Online      6  2021
9              0.48       Online      7  2021